python>=3.10
torch>=2.1.0
diffusers>=0.22.0
transformers>=4.30.0
optimum>=1.12.0
optimum-quanto
xformers
accelerate
safetensors
numpy
pillow
opencv-python
tqdm
pyyaml
PySide6
sqlalchemy
alembic
insightface
onnxruntime-gpu
exiv2-python
python-multipart
uvicorn
aiohttp
